body {
	text-align: center;
	background-color: black;
	color: #c8fefe;
	font-family: 'Roboto Mono', monospace;
}

#loader {
	width: 50px;
	padding: 2em 0;
	margin: 0 auto;
}

#earth {
  width: 30%;
}

.description {
	padding: 0 4.5em;
}

.loading {
	display: flex;
	flex-direction: column;
}

nav {
	z-index: 1;
	position: relative;
	text-align: right;
	padding: 1em;
}

nav a {
	transition: 0.2s;
}

nav a:hover {
	animation: neon1 1s linear infinite;
}

footer a {
	color: #ffd2e8;
	animation: neon2 1.5s ease-in-out infinite alternate;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	padding-bottom: 1em;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	color: #c8fefe;
  	animation: neon1 1.5s ease-in-out infinite alternate;
}

/*neon header glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #c8fefe, 0 0 20px #c8fefe, 0 0 30px #c8fefe, 0 0 40px #192e9a, 0 0 70px #192e9a, 0 0 80px #192e9a, 0 0 100px #192e9a, 0 0 150px #192e9a;
  }
  to {
    text-shadow: 0 0 5px #c8fefe, 0 0 10px #c8fefe, 0 0 15px #c8fefe, 0 0 20px #192e9a, 0 0 35px #192e9a, 0 0 40px #192e9a, 0 0 50px #192e9a, 0 0 75px #192e9a;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #ffd2e8, 0 0 20px #ffd2e8, 0 0 30px #ffd2e8, 0 0 40px #c7245e, 0 0 70px #c7245e, 0 0 80px #c7245e, 0 0 100px #c7245e, 0 0 150px #c7245e;
  }
  to {
    text-shadow: 0 0 5px #ffd2e8, 0 0 10px #ffd2e8, 0 0 15px #ffd2e8, 0 0 20px #c7245e, 0 0 35px #c7245e, 0 0 40px #c7245e, 0 0 50px #c7245e, 0 0 75px #c7245e;
  }
}

