
body {
	text-align: center;
	background-color: black;
	color: #c8fefe;
	font-family: 'Roboto Mono', monospace;
}

#earth {
  width: 30%;
}

/*neon header font*/

h1 {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 40px;
	font-family: 'Nunito', sans-serif;
	color: #c8fefe;
  	animation: neon1 1.5s ease-in-out infinite alternate;
}

/*glow*/

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #c8fefe, 0 0 20px #c8fefe, 0 0 30px #c8fefe, 0 0 40px #192e9a, 0 0 70px #192e9a, 0 0 80px #192e9a, 0 0 100px #192e9a, 0 0 150px #192e9a;
  }
  to {
    text-shadow: 0 0 5px #c8fefe, 0 0 10px #c8fefe, 0 0 15px #c8fefe, 0 0 20px #192e9a, 0 0 35px #192e9a, 0 0 40px #192e9a, 0 0 50px #192e9a, 0 0 75px #192e9a;
  }
}


