.sidebar {
	z-index: 1;
	height: 70%;
	background-color: rgba(0, 0, 0, 0.9);
	color: #c8fefe;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	border: solid #c8fefe 1.5px;
	box-shadow: 0 6px 10px 0 rgba(200, 254, 254, 0.5), 0 8px 20px 0 rgba(200, 254, 254, 0.5);
}

.sidebar a {
	color: #c7245e;
}

.show {
	width: 70%;
	opacity: 1;
	z-index: 2;
	animation: show-bar;
	animation-duration: 0.5s;
}

.hide {
	width: 0%;
	opacity: 1;
	z-index: 2;
	animation: hide-bar;
	animation-duration: 0.2s;
}

.hide p,
.hide img {
	opacity: 0;
}

.about {
	padding: 2em;
}

.cute {
	width: 15%;
}

@keyframes show-bar {	
	0% { width: 0%; }
	100% { width: 70%; }
}

@keyframes hide-bar {
	0% { width: 70%; }
	100% { width: 0%; }
}
