.sidebar {
	z-index: 1;
	width: 0%;
	height: 50%;
	background-color: rgba(199, 36, 94, 0.95);
	color: white;
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
	border: solid white 2px;
	transition: 0.5s ease-out;
}

.show {
	width: 50%;
	opacity: 1;
	z-index: 2;
	transition: 0.5s ease-out;
}

.about {
	padding: 2em;
}